/**{ 
    outline:1px solid red;
}*/

body{
    background-color:navy;
}

button{
    background-color:darkgreen;
    color:white;
    border-radius:15px;
}
input{
    border-radius:15px;
    height: 90px;
    font-size: 40px;
}
.front,.back{
height:300px;
width:500px;
background-color:white;
box-shadow:10px 10px 20px black;
}

.flip-container{
    height:500px;
    width:1300px;
}  
.front,.back{
  backface-visibility:hidden;
  position:absolute;
  top:0;
  left:500;
  margin-left:250px;
  margin-top:0px;
  text-align:center;
  line-height:300px;
  font-size:100px;
}  

.flipper{
transform-style:preserve-3d;
transition:2s;
position:relative;
top:0;
left:500;
margin-left:250px;
margin-top:0px;
}

#answer-button{
   height: 100px;
   font-size: 50px;
}

.front{
z-index:2;
border:1px solid black;
}

.back{
transform:rotateY(180deg);
border:1px solid black;
}

.flipped{
transform: rotateY(180deg);   
}

h1{
    color:red;
    backface-visibility:hidden;
}

body {
    align-items: center;
}

.button-input-container {
    text-align: center;
}
/*.box:hover{
    transition: 2s;
	transform-style: preserve-3d;
    transform:rotateY(180deg);
	position: relative;
}*/
.right-answer-count{
    color:white;
    font-size: 50px;
}
